<div class="home">
    <div class="home__options">
        <div class="home__options--item">
            <span class="material-icons">dashboard</span>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="home__options--item">
            <span class="material-icons">logout</span>
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>