<%- include('partials/header.ejs'); %> 
<div class="dash__wrapper">
    <div class="dash__wrapper--left">
        <div class="dash__title">
            <h3>umSYS</h3><span>1.0</span>
        </div>
        <div class="dash__menu">
            <ul>
                <li><span class="material-icons">dashboard</span><a href="#" class="active">Dashboard</a></li>
                <li><span class="material-icons">people</span><a href="#">Recruitment</a></li>
                <li><span class="material-icons">inventory</span><a href="#">Onboarding</a></li>
                <li><span class="material-icons">event</span><a href="#">Calendar</a></li>
                <li><span class="material-icons">receipt_long</span><a href="#">Reports</a></li>
                <li><span class="material-icons">admin_panel_settings</span><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="dash__support">
            <div class="dash__chat--link">
                <a href="#">Sart Chat</a>
            </div>
        </div>
    </div>
    <div class="dash__wrapper--right"></div>
</div>
<%- include('partials/header.ejs'); %> 