@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root{
    --mainBgColor: #2a9d8f;
    --secondaryColor: #0070AF;
    --yellowColor: #EBA741;
    --mainFont: 'Roboto', sans-serif;
}

*,html{
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--secondaryColor);
    font-family: var(--mainFont);
}
h4{
    font-size: 2em;
}
.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    height: 100vh;
    h4{
        color: #fff;
        font-size: 3em;
    }
}
.home{
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    width: 500px;
    height: 300px;
}

form{
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #ffb53a, #794c00);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    h1{
        color: #fff;
        font-style: 2em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .form-group{
        margin-bottom: 13px;
    }

    label{
        display: block;
        color: #eee;
        font-size: .9em;
        margin-bottom: 5px;
    }

    input{
        appearance: none;
        background: none;
        outline: none;
        border: none;
        &:not([type=submit]){
            display: block;
            width: 90%;
            padding: .9em;
            border-radius: 5px;
            background-color: rgba(0,0,0,0.2);
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            transition: 0.4s;
            color: #222;
            font-size: 1.2em;
            font-weight: 300;
            &::placeholder{
                color: #ccc;
            }
        }
    }
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid{
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

form input[type="submit"]{
    display: block;
    width: 100%;
    padding: .9em;
    border-radius: 5px;
    background-color: #000;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    transition: 0.4s;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

.err--msg{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

// Dashboard CSS
.dash{
    &__wrapper{
        display: flex;
        padding: 5em;
        margin: 0 auto;
        &--left{
           width: 420px;
           background-color: #fff;
           padding: 2em;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
        }
        &--right{
            background-color: #E7EFF0;
            padding: 2em;
            width: 100%;
        }
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 5em;
        h3{
            text-align: center;
            font-size: 3em;
            color: var(--secondaryColor);
        }
        span{
            margin-left: .5em;
            font-weight: 400;
            font-size: 1em;
        }
    }
    &__menu{
        margin-bottom: 5em;
        ul{
            li{
                list-style: none;
                margin-bottom: 2.4em;
                display: flex;
                align-items: center;
                gap: 1em;
                a{
                    text-decoration: none;
                    color: grey;
                    text-transform: capitalize;
                    font-size: 1.6em;
                    font-weight: 500;
                }
                .active{
                    color: var(--secondaryColor);
                }
                span{
                    color: var(--yellowColor);
                    font-size: 2em;
                }
            }
        }
    }
    &__support{
        padding: 1em .5em;
        background-color: #e7eff0;
        display: flex;
        justify-content: center;
        .dash__chat--link{
            padding: 1em 2em;
            background-color: var(--secondaryColor);
            margin-top: 3em;
            border-radius: 5px;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 1.6em;
            }
        }
    }
}